webapp/node_modules
webapp/.pnp
webapp/.pnp.js

# testing
webapp/coverage

# production
webapp/build

# misc
webapp/.DS_Store
webapp/.env.local
webapp/.env.development.local
webapp/.env.test.local
webapp/.env.production.local

webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*


ppr10k/
ppr10k

gallery_page/gallery

txt2gimp/xmp
__pycache__

*.tif
*.dng
*.zip
*.log
*.DS_Store
*__pycache__

Adobe5k
logs
txt2gimp/export

synthetic_data
synthetic_data2

*.pyc

data
data/

outputs
output

.DS_Store

ppr10k/